@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css');
@import url('https://unpkg.com/purecss@1.0.1/build/pure-min.css');

:root {
	--special-unleaded-91: #006DB2;
	--extra-95: #34ACE0;
	--supreme-98: #E82438;
	--special-e10-94: #00934D;
	/* --special-diesel: #020307; */
	--special-diesel: rgb(230, 136, 61);
	--lpg: #AAAAAA;

	--nvidia: rgb(168, 222, 69);
	--text-color: #fff;
	--background-color: #000;
	--text-color-secondary: #000;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Bai Jamjuree', sans-serif;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}